.chains{
    width: 100vw !important;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: absolute;
    inset: 0;
    background-color: #1f1f1f;
    max-width: unset;
    .con{
        position: absolute;
        background-color: #1f1f1f;
        width: 100vw !important;
        height: 100vh;
        inset: 0;
    }
}
.ant-table-thead {
    display: none;
  }