.page_wrapper {
    .body_content {
        .main_content {
            .row {
                .col-xl-9 {
                    .inner_left {
                        .rules_cover {
                            height: 300px;
                            background-position: center center;
                            background-size: cover;
                            background-repeat: no-repeat;
                            padding-top: 60px;
                            h1 {
                                font-family: $rubik;
                                font-size: 36px;
                                line-height: 1.278;
                                color: rgb(32, 36, 66);
                            }
                        }
                        .rules_tab_wrapper {
                            .rules_btn_row {
                                background-color: $sidebar-bg;
                                padding: 20px 12px;
                                .rul_btn {
                                    background-color: transparent;
                                    border: none;
                                    outline: none;
                                    @include box-shadow(none);
                                    font-size: 16px;
                                    font-size: 16px;
                                    font-family: $open-sans;
                                    color: rgb( 255, 255, 255 );
                                    font-weight: bold;
                                    line-height: 1.5;
                                    @include transition(all 0.6s);
                                    &:hover {
                                        color: rgb( 245, 49, 127 );
                                    }
                                }
                                .activer {
                                    color: rgb( 245, 49, 127 );
                                }
                                margin-bottom: 40px;
                            }
                            .rul_tab {
                                display: none;
                            }
                            .activecr {
                                display: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dark {
    .page_wrapper {
        .body_content {
            .main_content {
                .row {
                    .col-xl-9 {
                        .inner_left {
                            .rules_tab_wrapper {
                                .rules_btn_row {
                                    background-color: #fff;
                                    @include box-shadow(0px 0px 30px #f0f0f9);
                                    .rul_btn {
                                        color: #25294a;
                                        &:hover {
                                            color: rgb( 245, 49, 127 );
                                        }
                                    }
                                    .activer {
                                        color: rgb( 245, 49, 127 );
                                    }
                                }
                                .rul_tab {
                                    display: none;
                                }
                                .activecr {
                                    display: inherit;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}