.page_wrapper {
    .body_content {
        .main_content {
            .row {
                .col-xl-9 {
                    .inner_left {
                        .range_wrapper {
                            background-color: $sidebar-bg;
                            @include border-radius(5px);
                            padding: 40px 12px;
                            margin-top: 40px;
                            min-height: 430px;
                            margin-bottom: 150px;
                            .btns {
                                .trd_tab {
                                    font-family: $open-sans;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 1.75;
                                    color: $title-color;
                                    text-transform: uppercase;
                                    border: none;
                                    outline: none;
                                    @include box-shadow(none);
                                    padding: 8px 30px;
                                    margin: 0px 10px;
                                    @include border-radius(30px);
                                    background-color: transparent;
                                    border: 1px solid #3e3b99;
                                    &:hover {
                                        border: none;
                                        outline: none;
                                        @include box-shadow(none);
                                        background-image: -moz-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                        background-image: -webkit-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                        background-image: -ms-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                        background-image: linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                        border: 1px solid #3e3b99;
                                    }
                                }
                                .activeb {
                                    background-image: -moz-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                    background-image: -webkit-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                    background-image: -ms-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                    background-image: linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                    border: 1px solid #3e3b99;
                                }
                            }
                            .trade_tab {
                                padding: 30px 12px;
                                max-width: 900px;
                                margin: 20px auto 0px;
                                position: relative;
                                bottom: -200px;
                                margin-top: -150px;
                                background-size: 100% 99%;
                                background-repeat: no-repeat;
                                background-position: center center;
                                display: none;
                                .content {
                                    .tit {
                                        font-family: $rubik;
                                        font-size: 18px;
                                        line-height: 1.556;
                                        color: $title-color;
                                        text-align: center;
                                        margin-top: 15px;
                                    }
                                }
                                .wrap {
                                    margin-top: 20px;
                                    .rangee_wrapper {
                                        background-color: #4346b1;
                                        padding: 5px 10px;
                                        @include border-radius(60px);
                                        .minus {
                                            width: 40px;
                                            height: 40px;
                                            background-color: #3936a2;
                                            @include border-radius(50%);
                                            cursor: pointer;
                                            @include transition(all 0.6s);
                                            i {
                                                display: inline-block;
                                                font-size: 20px;
                                                color: $title-color;
                                            }
                                            &:hover {
                                                background-color: #04c1ff;
                                            }
                                        }
                                        .number {
                                            margin: 0px 5px;
                                            background-color: #3936a2;
                                            width: 90px;
                                            height: 40px;
                                            @include border-radius(60px);
                                            p {
                                                font-family: $rubik;
                                                font-size: 24px;
                                                font-weight: bold;
                                                line-height: 1.167;
                                                color: $title-color;
                                            }
                                        }
                                        .plus {
                                            background-color: #3936a2;
                                            width: 40px;
                                            height: 40px;
                                            @include border-radius(60px);
                                            @include transition(all 0.6s);
                                            cursor: pointer;
                                            i {
                                                display: inline-block;
                                                font-size: 20px;
                                                color: $title-color;
                                            }
                                            &:hover {
                                                background-color: #04c1ff;
                                            }
                                        }
                                    }
                                }
                                .txt_wrapper {
                                    max-width: 576px;
                                    margin: 20px auto 0px;
                                    .d-flex {
                                        margin: 10px 0px;
                                        .sha {
                                            font-family: $open-sans;
                                            font-size: 18px;
                                            font-weight: bold;
                                            line-height: 1.556;
                                            color: $title-color;
                                        }
                                        .val {
                                            font-family: $open-sans;
                                            font-size: 18px;
                                            font-weight: bold;
                                            line-height: 1.556;
                                            color: $title-color;
                                        }
                                    }
                                    .tot {
                                        border-top: 1px dashed $title-color;
                                        margin-top: 20px;
                                        padding-top: 10px;
                                    }
                                    a {
                                        text-decoration: none;
                                        display: inline-block;
                                        font-family: $open-sans;
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 1.75;
                                        color: $title-color;
                                        text-transform: uppercase;
                                        border: none;
                                        outline: none;
                                        @include box-shadow(none);
                                        padding: 12px 30px;
                                        margin: 20px 0px 30px;
                                        @include border-radius(30px);
                                        background-image: -moz-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                        background-image: -webkit-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                        background-image: -ms-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                        background-image: linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                        &:hover {
                                            border: none;
                                            outline: none;
                                            @include box-shadow(none);
                                        }
                                    }
                                }
                            }
                            .activet {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dark {
    .page_wrapper {
        .body_content {
            .main_content {
                .row {
                    .col-xl-9 {
                        .inner_left {
                            .range_wrapper {
                                background-color: #fff;
                                @include box-shadow(0px 0px 15px #f0f0f9);
                                .btns {
                                    .trd_tab {
                                        color: #25294a;
                                        @include box-shadow(0px 0px 15px #f0f0f9);
                                        border: 1px solid #ddd;
                                        &:hover {
                                            color: #fff;
                                            border: 1px solid transparent;
                                        }
                                    }
                                    .activeb {
                                        background-image: -moz-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                        background-image: -webkit-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                        background-image: -ms-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                        background-image: linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                        border: 1px solid transparent;
                                        color: #fff;
                                    }
                                }
                                .trade_tab {
                                    padding: 30px 12px;
                                    max-width: 900px;
                                    margin: 20px auto 0px;
                                    position: relative;
                                    bottom: -200px;
                                    margin-top: -150px;
                                    background-size: 100% 99%;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    display: none;
                                    .content {
                                        .tit {
                                            font-family: $rubik;
                                            font-size: 18px;
                                            line-height: 1.556;
                                            color: $title-color;
                                            text-align: center;
                                            margin-top: 15px;
                                        }
                                    }
                                    .wrap {
                                        margin-top: 20px;
                                        .rangee_wrapper {
                                            background-color: #4346b1;
                                            padding: 5px 10px;
                                            @include border-radius(60px);
                                            .minus {
                                                width: 40px;
                                                height: 40px;
                                                background-color: #3936a2;
                                                @include border-radius(50%);
                                                cursor: pointer;
                                                @include transition(all 0.6s);
                                                i {
                                                    display: inline-block;
                                                    font-size: 20px;
                                                    color: $title-color;
                                                }
                                                &:hover {
                                                    background-color: #04c1ff;
                                                }
                                            }
                                            .number {
                                                margin: 0px 5px;
                                                background-color: #3936a2;
                                                width: 90px;
                                                height: 40px;
                                                @include border-radius(60px);
                                                p {
                                                    font-family: $rubik;
                                                    font-size: 24px;
                                                    font-weight: bold;
                                                    line-height: 1.167;
                                                    color: $title-color;
                                                }
                                            }
                                            .plus {
                                                background-color: #3936a2;
                                                width: 40px;
                                                height: 40px;
                                                @include border-radius(60px);
                                                @include transition(all 0.6s);
                                                cursor: pointer;
                                                i {
                                                    display: inline-block;
                                                    font-size: 20px;
                                                    color: $title-color;
                                                }
                                                &:hover {
                                                    background-color: #04c1ff;
                                                }
                                            }
                                        }
                                    }
                                    .txt_wrapper {
                                        max-width: 576px;
                                        margin: 20px auto 0px;
                                        .d-flex {
                                            margin: 10px 0px;
                                            .sha {
                                                font-family: $open-sans;
                                                font-size: 18px;
                                                font-weight: bold;
                                                line-height: 1.556;
                                                color: $title-color;
                                            }
                                            .val {
                                                font-family: $open-sans;
                                                font-size: 18px;
                                                font-weight: bold;
                                                line-height: 1.556;
                                                color: $title-color;
                                            }
                                        }
                                        .tot {
                                            border-top: 1px dashed $title-color;
                                            margin-top: 20px;
                                            padding-top: 10px;
                                        }
                                        a {
                                            text-decoration: none;
                                            display: inline-block;
                                            font-family: $open-sans;
                                            font-size: 16px;
                                            font-weight: 400;
                                            line-height: 1.75;
                                            color: $title-color;
                                            text-transform: uppercase;
                                            border: none;
                                            outline: none;
                                            @include box-shadow(none);
                                            padding: 12px 30px;
                                            margin: 20px 0px 30px;
                                            @include border-radius(30px);
                                            background-image: -moz-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                            background-image: -webkit-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                            background-image: -ms-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                            background-image: linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
                                            &:hover {
                                                border: none;
                                                outline: none;
                                                @include box-shadow(none);
                                            }
                                        }
                                    }
                                }
                                .activet {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}