.game {
  padding: 10px;
  .cardcontent {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    .one {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 10px;
      img {
        width: 60px;
        height: 60px;
      }
      .text {
        display: flex;

        align-items: flex-start;

        flex-direction: column;

        flex: 1;
        max-width: 100%;
        overflow: hidden;
        .title {
          color: rgba(255, 255, 255, 0.48);
          font-size: 16px;
        }
        p {
          overflow: hidden;
          text-overflow: ellipsis;

          word-break: break-word;
          color: rgba(255, 255, 255, 0.64);
          font-size: 13px;
        }
      }
    }
  }
}
