.news{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
   h1{
    font-size: 24px;
    margin-top: 30px;
   }
   .header{
    display: flex;
    align-items: center;
    gap:5px;
    .img{
        border:1px solid #ccc;
        border-radius: 50px;
        width: 42px;
        overflow: hidden;
    }
    p{
        margin: 0;
    }
    .des{
        font-size: 12px;
        color: rgba(255,255,255,0.5);
    }
   }
}