/*====home banner start====*/
.home_banner_wrapper {
    background-color: $section-bg;
    padding-top: 80px;
    padding-bottom: 100px;
    .container {
        .home_banner_row {
            .col-lg-5 {
                margin-top: 30px;
                margin-bottom: 30px;
                .inner {
                    .section_info {
                        margin-top: 22px;
                    }
                    .btn_wrapper {
                        margin-top: 71px;
                        .trade_btn {
                            a {
                                @include btn_style;
                            }
                        }
                        .video_btn {
                            margin-left: 50px;
                            a {
                                @include video_btn_a;
                                i {
                                    @include video_btn_i;
                                }
                                &::before {
                                    @include video_btn_before;
                                }
                                &::after {
                                    @include video_btn_after;
                                }
                            }
                        }
                    }
                }
            }
            .col-lg-7 {
                margin-top: 30px;
                margin-bottom: 30px;
                display: none;
                .inner {
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

.dark {
    .home_banner_wrapper {
        .container {
            .home_banner_row {
                .col-lg-5 {
                    .inner {
                        .section_info {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

/*====home banner start====*/

/*====home two banner start====*/
.home_two_banner_wrapper {
    background-color: $section-bg;
    padding-top: 160px;
    padding-bottom: 105px;
    .container {
        .home_banner_row {
            .col-lg-5 {
                margin-top: 30px;
                margin-bottom: 30px;
                .inner {
                    .section_info {
                        margin-top: 25px;
                    }
                    .btn_wrapper {
                        margin-top: 75px;
                        .trade_btn {
                            a {
                                @include btn_style;
                                @include border-radius(50px);
                            }
                        }
                        .video_btn {
                            margin-left: 50px;
                            a {
                                @include video_btn_a;
                                i {
                                    @include video_btn_i;
                                }
                                &::before {
                                    @include video_btn_before;
                                }
                                &::after {
                                    @include video_btn_after;
                                }
                            }
                        }
                    }
                }
            }
            .col-lg-7 {
                margin-top: 30px;
                margin-bottom: 30px;
                display: none;
                .inner {
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

.dark {
    .home_two_banner_wrapper {
        .container {
            .home_banner_row {
                .col-lg-5 {
                    .inner {
                        .section_info {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

/*====about banner start====*/
.about_banner_wrapper {
    background-color: $section-bg;
    //background-image: url("../images/about/about_banner_illustration.png"), url("../images/about/about_banner_bg.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 700px 230px, cover;
    background-position: right 10px bottom 0px, left top;
    padding-top: 110px;
    padding-bottom: 113px;
    .container {
        @include banner-breadcumb;
    }
}
/*====about banner end====*/

/*====play banner start====*/
.play_banner_wrapper {
    background-color: $section-bg;
    // background-image: url("../images/play/play_banner_illustration.png"), url("../images/play/play_banner_bg.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 700px 230px, 100% 100%;
    background-position: right 10px bottom 0px, left top;
    padding-top: 110px;
    padding-bottom: 115px;
    .container {
        @include banner-breadcumb;
    }
}

/*====play banner end====*/

/*====faq banner section start====*/
.faq_banner_wrapper {
    background-color: $section-bg;
    // background-image: url(""), url("");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
    background-position: right 50px bottom 0px, left top;
    padding-top: 110px;
    padding-bottom: 114px;
    .container {
        @include banner-breadcumb;
    }
}
/*====faq banner section end====*/

/*====contact banner section start====*/
.contact_banner_wrapper {
    background-color: $section-bg;
    // background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    .container {
        @include banner-breadcumb;
        // background-image: url("");
        background-repeat: no-repeat;
        background-size: 563px 240px;
        background-position: right 23px bottom 0px;
        padding-top: 110px;
        padding-bottom: 112px;
    }
}

/*====contact banner section end====*/