/*====home slider start====*/
.slider_wrapper {
    overflow-x: hidden!important;
    padding-top: 120px;
    padding-bottom: 120px;
    .container {
        .slider_row {
            position: relative;
            .slider_items {
                background-color: rgb(18, 10, 54);
                padding: 15px;
                //background-image: url("../images/slider/line.png");
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: left bottom;
                width: 365px;
                margin-right: 0px!important;
                .left_col {
                    .img_wrapper {
                        width: 140px;
                        height: 140px;
                        //background-image: url("../images/slider/circle_one.png");
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        position: relative;
                        a {
                            text-decoration: none;
                            display: inline-block;
                            width: 90px;
                            height: 90px;
                            border: 2px solid $title-color;
                            @include border-radius(50%);
                            overflow: hidden;
                            img {
                                max-width: 100%;
                                display: inline-block;
                                position: relative;
                                bottom: -5px;
                            }
                        }
                        .bg_pink {
                            background-color: rgb(234, 99, 112);
                        }
                        .bg_purple {
                            background-color: rgb(200, 94, 244);
                        }
                        .bg_cyan {
                            background-color: rgb(101, 207, 243);
                        }
                        span {
                            display: inline-block;
                            position: absolute;
                            bottom: 13%;
                            left: 50%;
                            @include transform (translate(-50%, -13%));
                            min-width: 50px;
                            font-family: $open-sans;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 1.667;
                            color: $title-color;
                            background-color: $section-bg;
                            text-align: center;
                            @include border-radius (20px);
                        }
                    }
                    .img_bg_two {
                        //background-image: url("../images/slider/circle_two.png");
                    }
                    .img_bg_three {
                        //background-image: url("../images/slider/circle_three.png");
                    }
                }
                .right_col {
                    margin-left: 10px;
                    h5 {
                        a {
                            text-decoration: none;
                            display: inline-block;
                            font-family: $rubik;
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 1.5;
                            color: $title-color;
                            margin-top: 5px;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                    p {
                        font-family: $open-sans;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 1.667;
                        color: #ff8a00;
                        margin: 7px 0px;
                    }
                    .price_line {
                        margin-top: 12px;
                        padding-top: 0px;
                        border-top: 1px solid rgb(60, 38, 158);
                        .price {
                            p {
                                font-family: $open-sans;
                                font-size: 18px;
                                font-weight: 700;
                                line-height: 1.889;
                                color: $title-color;
                            }
                        }
                        .rate {
                            p {
                                font-family: $open-sans;
                                font-size: 14px;
                                font-weight: 700;
                                line-height: 1.714;
                                color: #1fa02a;
                                margin-left: 40px;
                            }
                        }
                    }
                }
            }
            .owl-nav  {
                margin-top: 30px;
                .owl-prev {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    @include border-radius(50%);
                    background-color: black;
                    background-image: -moz-linear-gradient( 45deg, rgb(215,61,245) 0%, rgb(143,61,245) 100%);
                    background-image: -webkit-linear-gradient( 45deg, rgb(215,61,245) 0%, rgb(143,61,245) 100%);
                    background-image: -ms-linear-gradient( 45deg, rgb(215,61,245) 0%, rgb(143,61,245) 100%);
                    background-image: linear-gradient( 45deg, rgb(215,61,245) 0%, rgb(143,61,245) 100%);
                    i {
                        font-size: 12px;
                        color: $title-color;
                    }
                    &:hover {
                        background-image: none;
                        background-color: #313c87;
                    }
                }
                .owl-next {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    @include border-radius(50%);
                    background-color: black;
                    background-image: -moz-linear-gradient( 45deg, rgb(215,61,245) 0%, rgb(143,61,245) 100%);
                    background-image: -webkit-linear-gradient( 45deg, rgb(215,61,245) 0%, rgb(143,61,245) 100%);
                    background-image: -ms-linear-gradient( 45deg, rgb(215,61,245) 0%, rgb(143,61,245) 100%);
                    background-image: linear-gradient( 45deg, rgb(215,61,245) 0%, rgb(143,61,245) 100%);
                    i {
                        font-size: 12px;
                        color: $title-color;
                    }
                    &:hover {
                        background-image: none;
                        background-color: #313c87;
                    }
                }
            }
        }
    }
}

.dark {
    .slider_wrapper {
        .container {
            .slider_row { 
                .slider_items {
                    background-color: #fff;
                    background-image: none;
                    @include box-shadow(0px 0px 5px #f0f0f9);
                    margin-bottom: 5px;
                    .left_col {
                        .img_wrapper {
                            a {
                                border: 2px solid #25294a;
                            }
                        }
                    }
                    .right_col {
                        h5 {
                            a {
                                color: #25294a;
                            }
                        }
                        p {
                            color: #ff8a00;
                        }
                        .price_line {
                            border-top: 1px solid rgba(0, 0, 0, 0.2);
                            .price {
                                p {
                                    color: #25294a;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*====home slider end====*/