/*====preloader style start====*/
.loader_wrapper {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100vh;
    background-color: $theme-bg;
    z-index: 9999999;
    .loader {
      width: 20em;
      height: 20em;
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      .face {
        position: absolute;
        border-radius: 50%;
        border-style: solid;
        -webkit-animation: animate 3.5s linear infinite;
        animation: animate 3.5s linear infinite;
        &:nth-child(1) {
          width: 100%;
          height: 100%;
          color: gold;
          border-color: $hover-color transparent transparent $hover-color;
          border-width: 0.2em 0.2em 0em 0em;
          // --deg: -45deg;
          animation-direction: normal;
        }
        &:nth-child(2) {
          width: 70%;
          height: 70%;
          color: lime;
          border-color: $link $link transparent transparent;
          border-width: 0.2em 0em 0em 0.2em;
          // --deg: -135deg;
          animation-direction: reverse;
        }
        .circle {
          position: absolute;
          width: 50%;
          height: 0.1em;
          top: 50%;
          left: 50%;
          background-color: transparent;
          transform: rotate(-45deg);
          transform-origin: left;
          &::before {
            position: absolute;
            top: -0.5em;
            right: -0.5em;
            content: '';
            width: 1em;
            height: 1em;
            background-color: $hover-color;
            border-radius: 50%;
            box-shadow: 0 0 2em,
                        0 0 4em,
                        0 0 6em,
                        0 0 8em,
                        0 0 10em,
                        0 0 0 0.5em rgba(255, 255, 0, 0.1);
          }
        }
        .sd {
          transform: rotate(-135deg);
          &::before {
            background-color: $link;
          }
        }
      }
      .percent {
        .counterr {
          font-size: 22px;
          font-weight: 700;
          color: $title-color;
        }
        .per {
          font-size: 22px;
          font-weight: 700;
          color: $title-color;
        }
      }
    }
}

.dark {
  .loader_wrapper {
    background-color: #fff;
    .loader {
      .face {
        position: absolute;
        border-radius: 50%;
        border-style: solid;
        -webkit-animation: animate 3.5s linear infinite;
        animation: animate 3.5s linear infinite;
        &:nth-child(1) {
          width: 100%;
          height: 100%;
          color: gold;
          border-color: #25294a transparent transparent #25294a;
          border-width: 0.2em 0.2em 0em 0em;
          animation-direction: normal;
        }
        &:nth-child(2) {
          width: 70%;
          height: 70%;
          color: lime;
          border-color: $link $link transparent transparent;
          border-width: 0.2em 0em 0em 0.2em;
          animation-direction: reverse;
        }
        .circle {
          position: absolute;
          width: 50%;
          height: 0.1em;
          top: 50%;
          left: 50%;
          background-color: transparent;
          transform: rotate(-45deg);
          transform-origin: left;
          &::before {
            position: absolute;
            top: -0.5em;
            right: -0.5em;
            content: '';
            width: 1em;
            height: 1em;
            background-color: #25294a;
            border-radius: 50%;
            box-shadow: 0 0 2em,
                        0 0 4em,
                        0 0 6em,
                        0 0 8em,
                        0 0 10em,
                        0 0 0 0.5em rgba(255, 255, 0, 0.1);
          }
        }
        .sd {
          transform: rotate(-135deg);
          &::before {
            background-color: $link;
          }
        }
      }
      .percent {
        .counterr {
          font-size: 22px;
          font-weight: 700;
          color: #25294a;
        }
        .per {
          font-size: 22px;
          font-weight: 700;
          color: #25294a;
        }
      }
    }
}
}
  
  @keyframes animate {
    to {
        transform: rotate(1turn);
    }
  }
  
  @-webkit-keyframes animate {
    to {
        transform: rotate(1turn);
    }
  }
  
  @include sm-screen {
    .loader_wrapper {
      .loader {
        width: 10em;
        height: 10em;
        .percent {
          .counterr {
            font-size: 18px;
          }
          .per {
            font-size: 18px;
          }
        }
      }
    }
  }
  /*====preloader style end====*/

  .theme-option {
  max-width: 150px;
  padding: 15px 20px;
  background-color: #25294a;
  @include box-shadow(0px 0px 10px #090000);
  position: fixed;
  top: 50%;
  right: 0px;
  @include transform(translateY(-50%) translateX(115px));
  @include transition(all 0.3s ease-in);
  z-index: 999;
  a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 16px;
    background-color: #fff;
    margin: 5px 0px;
    color: #000;
    &:hover {
      @include gradient;
      color: #fff;
    }
  }
  .oactive {
    @include gradient;
    color: #fff;
  }
  #cog {
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: -35px;
    margin: 0px;
    @include transition(left 0.3s ease-in);
    i {
      font-size: 16px;
      line-height: 30px;
      @include transition(all 0s ease-in);
    }
  }
  }

  .dark {
    .theme-option {
      #cog {
        background-color: #000;
        color: #fff;
      }
    }
  }

  .dark {
    .theme-active {
      #cog {
        background-color: #000;
        color: #fff;
      }
    }
  }

  .theme-active {
    @include transform(translateY(-50%) translateX(0px));
    #cog {
      position: absolute;
      top: 0px;
      left: -30px;
    }
  }