.time-frame-container {
  display: flex;
  align-items: center;
  //background: #4461F2;
  padding: 8px 16px;
  border-radius: 8px;
  gap: 8px;

  .trending-label {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 8px;
    gap: 4px;

    .fire-icon {
      color: white;
      font-size: 16px;
    }

    .info-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      border: 1px solid white;
      border-radius: 50%;
      font-size: 12px;
      font-style: italic;
      margin-left: 4px;
    }
  }

  .time-frame-button {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    padding: 4px 12px;
    border-radius: 6px;
    
    &:hover {
      background: rgba(255, 255, 255, 0.1);
      //color: white;
      color: #4461F2;
    }

    &.selected {
      //background: white;
      border: 1px solid #fff200;
      color: #fff200;
    }

    &:focus {
      outline: none;
    }
  }
}
