/*====mixins start====*/

//mixin for box-sizing property
@mixin box-sizing {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

//mixin for user selection
@mixin user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//mixin for css border radius property
@mixin border-radius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    border-radius: $value;
}

//mixin for css transform property
@mixin transform ($value) {
    -webkit-transform: $value;
    -ms-transform: $value;
    transform: $value;
}

//mixin for css transition property
@mixin transition ($value) {
    -webkit-transition: $value;
    -o-transition: $value;
    transition: $value;
 }

 //mixin for box shadow
@mixin box-shadow ($value) {
    -webkit-box-shadow: $value;
    box-shadow: $value;
}

//keyframes mixin
@mixin animation ($animation, $duration, $timing, $delay, $iteration) {
    -webkit-animation-name: $animation;
    -webkit-animation-duration: $duration;
    -webkit-animation-timing-function: $timing;
    -webkit-animation-delay: $delay;
    -webkit-animation-iteration-count: $iteration;
    

    -moz-animation-name: $animation;
    -moz-animation-duration: $duration;
    -moz-animation-timing-function: $timing;
    -moz-animation-delay: $delay;
    -moz-animation-iteration-count: $iteration;

    -o-animation-name: $animation;
    -o-animation-duration: $duration;
    -o-animation-timing-function: $timing;
    -o-animation-delay: $delay;
    -o-animation-iteration-count: $iteration;

    animation-name: $animation;
    animation-duration: $duration;
    animation-timing-function: $timing;
    animation-delay: $delay;
    animation-iteration-count: $iteration;
}

//mixin for navigation bar
@mixin bar_icon {
    width: 35px;
    height: 3px;
    background-color: $nav-color; // ref variables line 23
    margin: 0px;
    display: block;
    @include transition (all 0.6s); // line 19 to 23
}

//mixins for user navigation bar
//mixin for hambarger icon
@mixin bar_icon2 {
    width: 35px;
    height: 2px;
    background-color: $nav-color;
    margin: 0px;
    display: block;
    @include transition (all 0.6s); 
}

//background image gradient
@mixin gradient {
    background-image: -moz-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
    background-image: linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
}

@mixin counter_gradient {
    background-image: -moz-linear-gradient( 166deg, rgba(182,66,237,0) 0%, rgba(182,66,237,0.02) 2%, rgba(182,66,237,0.15) 13%, rgba(129,61,193,0.4) 33%, rgba(44,52,122,0.59) 66%, rgb(44,52,122) 100%);
    background-image: -webkit-linear-gradient( 166deg, rgba(182,66,237,0) 0%, rgba(182,66,237,0.02) 2%, rgba(182,66,237,0.15) 13%, rgba(129,61,193,0.4) 33%, rgba(44,52,122,0.59) 66%, rgb(44,52,122) 100%);
    background-image: -ms-linear-gradient( 166deg, rgba(182,66,237,0) 0%, rgba(182,66,237,0.02) 2%, rgba(182,66,237,0.15) 13%, rgba(129,61,193,0.4) 33%, rgba(44,52,122,0.59) 66%, rgb(44,52,122) 100%);
    background-image: linear-gradient( 166deg, rgba(182,66,237,0) 0%, rgba(182,66,237,0.02) 2%, rgba(182,66,237,0.15) 13%, rgba(129,61,193,0.4) 33%, rgba(44,52,122,0.59) 66%, rgb(44,52,122) 100%);
}

@mixin hexagon {
    -webkit-clip-path: polygon(40% 7.67949%, 43.1596% 6.20615%, 46.52704% 5.30384%, 50% 5%, 53.47296% 5.30384%, 56.8404% 6.20615%, 60% 7.67949%, 81.65064% 20.17949%, 84.50639% 22.17911%, 86.97152% 24.64425%, 88.97114% 27.5%, 90.44449% 30.6596%, 91.34679% 34.02704%, 91.65064% 37.5%, 91.65064% 62.5%, 91.34679% 65.97296%, 90.44449% 69.3404%, 88.97114% 72.5%, 86.97152% 75.35575%, 84.50639% 77.82089%, 81.65064% 79.82051%, 60% 92.32051%, 56.8404% 93.79385%, 53.47296% 94.69616%, 50% 95%, 46.52704% 94.69616%, 43.1596% 93.79385%, 40% 92.32051%, 18.34936% 79.82051%, 15.49361% 77.82089%, 13.02848% 75.35575%, 11.02886% 72.5%, 9.55551% 69.3404%, 8.65321% 65.97296%, 8.34936% 62.5%, 8.34936% 37.5%, 8.65321% 34.02704%, 9.55551% 30.6596%, 11.02886% 27.5%, 13.02848% 24.64425%, 15.49361% 22.17911%, 18.34936% 20.17949%);
    clip-path: polygon(40% 7.67949%, 43.1596% 6.20615%, 46.52704% 5.30384%, 50% 5%, 53.47296% 5.30384%, 56.8404% 6.20615%, 60% 7.67949%, 81.65064% 20.17949%, 84.50639% 22.17911%, 86.97152% 24.64425%, 88.97114% 27.5%, 90.44449% 30.6596%, 91.34679% 34.02704%, 91.65064% 37.5%, 91.65064% 62.5%, 91.34679% 65.97296%, 90.44449% 69.3404%, 88.97114% 72.5%, 86.97152% 75.35575%, 84.50639% 77.82089%, 81.65064% 79.82051%, 60% 92.32051%, 56.8404% 93.79385%, 53.47296% 94.69616%, 50% 95%, 46.52704% 94.69616%, 43.1596% 93.79385%, 40% 92.32051%, 18.34936% 79.82051%, 15.49361% 77.82089%, 13.02848% 75.35575%, 11.02886% 72.5%, 9.55551% 69.3404%, 8.65321% 65.97296%, 8.34936% 62.5%, 8.34936% 37.5%, 8.65321% 34.02704%, 9.55551% 30.6596%, 11.02886% 27.5%, 13.02848% 24.64425%, 15.49361% 22.17911%, 18.34936% 20.17949%);
}

@mixin banner-breadcumb {
    nav {
        margin-top: 15px;
        .breadcrumb {
            margin-bottom: 0px;
            .breadcrumb-item {
                a {
                    text-decoration: none;
                    display: inline-block;
                    font-family: $open-sans;
                    font-size: $para-font;
                    font-weight: 400;
                    line-height: 1.556;
                    color: $title-color;
                }
            }
            .active {
                font-family: $open-sans;
                font-size: $para-font;
                font-weight: 400;
                line-height: 1.556;
                color: $title-color;
                &::before {
                    content: "flaticon-right-arrow";
                    font-family: Flaticon;
                    font-size: 20px;
                    margin: 0px 2px;
                    color: #a394c1;
                }
            }
            
        }
    }
}

//sidenav mixin
@mixin side-nav {
    .nav {
        padding-top: 15px;
        padding-bottom: 15px;
        .nav-item {
            margin: 3px 0px;
            position: relative;
            .nav-link {
                padding: 8px 30px;
                font-family: $open-sans;
                font-size: $nav-font;
                font-weight: bold;
                line-height: 1.5;
                text-transform: capitalize;
                color: $nav-color;
                background-image: -moz-linear-gradient( 0deg, rgb(36,40,73) 0%, rgb(32,36,66) 100%);
                background-image: -webkit-linear-gradient( 0deg, rgb(36,40,73) 0%, rgb(32,36,66) 100%);
                background-image: -ms-linear-gradient( 0deg, rgb(36,40,73) 0%, rgb(32,36,66) 100%);
                opacity: 0.988;
                position: relative;
                border-left: 3px solid transparent;
                @include transition(all 0.6s);
                z-index: 1;
                i {
                    &::before {
                        display: inline-block;
                        font-size: 20px;
                        line-height: 1.5;
                        margin-right: 20px;
                        color: $nav-color;
                        @include transition(all 0.6s);
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    width: 0%;
                    height: 100%;
                    background-image: -moz-linear-gradient( 90deg, rgb(220,68,128) 0%, rgb(32,36,66) 74%);
                    background-image: -webkit-linear-gradient( 90deg, rgb(220,68,128) 0%, rgb(32,36,66) 74%);
                    background-image: -ms-linear-gradient( 90deg, rgb(220,68,128) 0%, rgb(32,36,66) 74%);
                    background-image: linear-gradient( 90deg,rgb(220,68,128) 0%, rgb(32,36,66) 74%);
                    opacity: 0.502;
                    @include transition(all 0.6s);
                    z-index: -1;
                }
                &:hover {
                    color: #f5f5ff;
                    border-left: 3px solid #cc3399;
                    i {
                        &::before {
                            color: #f5f5ff;
                        }
                    }
                    &::before {
                        width: 100%;
                    }
                }
            }
            .active {
                color: #ffffff;
                border-left: 3px solid #cc3399;
                &::before {
                    width: 100%;
                    height: 100%;
                    background-image: -moz-linear-gradient( 90deg, rgb(220,68,128) 0%, rgb(32,36,66) 74%);
                    background-image: -webkit-linear-gradient( 90deg, rgb(220,68,128) 0%, rgb(32,36,66) 74%);
                    background-image: -ms-linear-gradient( 90deg, rgb(220,68,128) 0%, rgb(32,36,66) 74%);
                    background-image: linear-gradient( 90deg,rgb(220,68,128) 0%, rgb(32,36,66) 74%);
                    opacity: 0.502;
                }
            }
        }
    }
}

//buttons mixins
@mixin nba {
    background-image: -moz-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
    background-image: linear-gradient( 135deg, rgb(245,49,127) 0%, rgb(255,124,110) 100%);
}

@mixin nfl {
    background-image: -moz-linear-gradient( 45deg, rgb(215,61,245) 0%, rgb(143,61,245) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(215,61,245) 0%, rgb(143,61,245) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(215,61,245) 0%, rgb(143,61,245) 100%);
    background-image: linear-gradient( 45deg, rgb(215,61,245) 0%, rgb(143,61,245) 100%);
}

@mixin mlb {
    background-image: -moz-linear-gradient( -30deg, rgb(101,207,243) 0%, rgb(102,166,255) 100%);
    background-image: -webkit-linear-gradient( -30deg, rgb(101,207,243) 0%, rgb(102,166,255) 100%);
    background-image: -ms-linear-gradient( -30deg, rgb(101,207,243) 0%, rgb(102,166,255) 100%);
    background-image: linear-gradient( -30deg, rgb(101,207,243) 0%, rgb(102,166,255) 100%);
}

@mixin nhl {
    background-image: -moz-linear-gradient( 135deg, rgb(44,191,199) 0%, rgb(70,238,170) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(44,191,199) 0%, rgb(70,238,170) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(44,191,199) 0%, rgb(70,238,170) 100%);
    background-image: linear-gradient( 135deg, rgb(44,191,199) 0%, rgb(70,238,170) 100%);
}

/*====mixins for maximum custom viewport====*/
@mixin min-screen($value) {
    @media only screen and (min-width: $value) {
        @content;
    }
}


/*====mixins for double extra large device screen when viewport size greater than 1400px====*/
@mixin xxl-screen {
    @media only screen and (min-width: 1400px) {
        @content;
    }
}

/*====mixins for extra large device screen when viewport size greater than 1200px====*/
@mixin xl-screen {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

/*====mixins for large device screen when viewport size less than 1200px====*/
@mixin lg-screen {
    @media only screen and (max-width: 1199px) {
        @content;
    }
}

/*====mixins for medium device screen when viewport size less than 992px====*/
@mixin md-screen {
    @media only screen and (max-width: 991px) {
        @content;
    }
}

/*====mixins for small device screen when viewport size less than 768px====*/
@mixin sm-screen {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

/*====mixins for extra small device screen when viewport size less than 576px====*/
@mixin xs-screen {
    @media only screen and (max-width: 575px) {
        @content;
    }
}

/*====mixins for double extra small device screen when viewport size less than 425px====*/
@mixin xxs-screen {
    @media only screen and (max-width: 424px) {
        @content;
    }
}

/*====mixins for maximum custom viewport====*/
@mixin max-screen($value) {
    @media only screen and (max-width: $value) {
        @content;
    }
}

/*====mixins end====*/