/*===========variable declaration start===========*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

//variables for google fonts
$open-sans: "Open Sans", sans-serif;
$rubik: "Rubik", sans-serif;

//variables for background colors
$theme-bg: #25294a;
$section-bg: #2a295b;
$nav-bg: #2d325a;
$form-bg: #181e4e;
$secondary-bg: #181e4e;
$sidebar-bg: #202442;
$column-bg: #3d447a;
$head-bg: #343a6a;
$table-bg: #282a55;
$tr: #353471;

//variables for font sizes
$hero-font: 60px;
$title-font: 50px;
$info-font: 18px;
$para-font: 18px;
$nav-font: 16px;
$secondary-font: 24px;

//variables for fonts color
$title-color: #ffffff;
$info-color: #fafaff;
$para-color: #fafaff;
$nav-color: #d7d8ff;
$hover-color: #f5317f;
$secondary-color: #ffc600;
$user-title: #dae8ff;
$user-text: #a8b1d1;
$accordion-icon-color: grey;
$link: #0dcaf0;

$border-color: #3a3982;

//variables for box shadow
$shadow: 0px 19px 56px 0px rgba(0, 0, 0, 0.2);
$shadow_two: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

/*===========variable declaration end============*/