:global(.ant-list) {
    .chainItem {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        font-size: 16px;
        font-weight: 500;
        
        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
        }
    }
  }
